# Environments
.env
.venv
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.coverage

# Sphinx documentation
docs/html/
docs/coverage/

# Log
output.log